p {
	fomt-family: sans-serif;
	color: #0000FF;
}
#awesomeText { font-family: "Times New Roman", Georiga, Serif; }
.soft { color: #a8a8a8; }
.center { text-align: center; }
.container { margin: 0 auto; }
#fds {font-size: 40}
 